.register_popup{
    background-color: #242424;
    color: rgb(214, 214, 214);
    width: 50vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 15px;
}

.register_title{
    font-size: 2rem;
    font-weight: bold;
    height: 20%;
}

.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}
.register_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.register_input_wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 33%;
    font-weight: bold;
}

.register_input{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    font-weight: bold;
    border-radius: 15px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }