.sidebar{
    width: 20%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    position: sticky;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    font-weight: bold;
    overflow: hidden;
}

.sidebar_header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    font-weight: bold;
}

.sidebar_header img{
    width: 75px;
    height: 75px;
    /* border-radius: 50%; */
    margin-top: 10%;
}

.sidebar_content{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    font-weight: bold;
}
.user_url_list{
    list-style-type: none;
    padding: 0;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-weight: bold;
    overflow-y: auto;
    overflow-x: hidden;
}

.user_url{

    width: 97.5%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    /* border: rgb(247, 168, 66) 5px solid; */
    /* border-bottom: 2px solid rgb(247, 168, 66); */
    /* border-radius: 15px; */
    color: rgb(247, 168, 66);
    justify-self: center;
    overflow: hidden;
}
.user_link{
    width: 75%;
    height: 100%;
    border-bottom: 2px solid rgb(247, 168, 66);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.user_url_button{
    width: 10%;
    height: 50%;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: rgb(22, 22, 22);
    border: 2px white solid;
}

.user_url:hover{
    cursor: pointer;
    scale: 1.025;
    filter: drop-shadow(0 0 0.75rem rgb(247, 168, 66));
}

.sidebar_footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-weight: bold;
}

.add_url{
    width: 30vw;
    height: 30vh;
    background-color: rgb(58, 58, 58);
    border-radius: 15px;
    border: none;
    color: rgb(26, 26, 26);
    font-weight: bold;
    font-size: 12px;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    overflow: hidden;
}

.add_url_input{
    width: 75%;
    height: 25%;
    background-color: rgb(247, 168, 66);
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.25s;
}